/* project: internet music template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
  
body { 
	padding: 0; 
	margin: 0; 
	font: 0.74em Arial, Helvetica, sans-serif; 
	line-height: 1.5em;
	background: #fff; 
	color: #454545; 
}

a {
	color: #4A8EBC; 
	background: inherit;
}

a:hover {
	color: #C3593C;
	background: inherit;	
}

a.title {
	color: #FE6700;
	background: #FFF;
}

h1 {
	font: bold 2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -1px; 
	padding: 2px 0 0 0px;
	margin: 0;
	color: #464548;
	background: inherit;
}

h1 a, h2 a {
	text-decoration: none;
	color: #464548;
	background: inherit;
}

h1 a:hover, h2 a:hover {
	color: #C3593C;
	background: #FFF;
}

h1 .red{
	color: #C3593C;
	background: inherit;
}


h2 { 
	margin: 0 0 5px 0; 
	padding: 0; 
	font: bold 1.5em Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	color: #000; 
	background: inherit;
}

h2 .yellow{
	color: #FFFCD1;
	background: inherit;
}

p {	margin: 0 0 5px 0; }

ul { 
	margin: 0; 
	padding : 0; 
	list-style : none; 
}

form { 
	margin: 0; 
}

input.search { 
	width: 145px; 
	height: 22px;
	border: none;
	background: #fff url(images/input.gif) no-repeat; 
	padding: 5px 10px 0 25px;
	color: #808080;
}

input.button {
	border: 0;
	height: 27px;
	width: 76px;
	background: #ABC43C url(images/button.gif) no-repeat;
	color: #FFF;
	font: bold 1.1em Arial, Helvetica, Sans-Serif;
}

input.login { 
	width: 150px;
	border: none; 
	background: url(images/logininput.gif); 
	padding: 4px; 
}

/* layout
   ------ */

.content { 
	margin: 10px auto;
	width: 760px; 
}

.logo {
	float: left;
	width: 180px;
	padding: 10px 0 11px 10px;
}

.header_right {
	float: right;
	width: 550px;
	height: 72px;
}

.logo p {
	font-size: 0.9em;
	color: #808080;
	padding: 0 0 0 7px;
	background: inherit;
}


.top_info {
	width: 540px;
	margin: 12px 0 5px 0;
	padding: 0 5px 5px 0;
	text-align: right;
	background: #FFF url(images/dot.gif) repeat-x bottom;
	color: #444;
}
	

.slogan {
	text-align: right;
	width: 160px;
}


.bar { 
	text-align: right;
	font-size: 1.1em;
	height: 30px; 
}

	.bar li { 
		
		padding: 0px 10px 8px 10px;
		color: #808080;
		background: #FFF;
		display: inline;
	}
	
	.bar li a.active { 
		background: #FFF url(images/bar.gif) no-repeat center bottom; 
		color: #C3593C;
		font-weight: bold; 
		padding-bottom: 8px; 
	}

	.bar a { 
		font-weight: bold;
		color: #4A8EBC; 
		background: inherit;	
	} 

.search_field { 
	text-align: right;
	float: right;
	width: 540px;
	height: 38px;
	background: #464548 url(images/searchbg.gif) no-repeat top right; 
	color: #000;
	clear: both;
	padding: 10px 10px 0 0;
}

.grey {
	font-size: 1.2em;
	font-weight: bold;
	color: #ccc;
	background: inherit;
	
}

.search {
	font-size: 1.2em;
	font-weight: bold;
	color: #FFF;
	background: inherit;	
}

.newsletter {
	float: left;
	height: 33px;
	padding: 15px 0 0 15px;
	width: 192px;
	background: #6E6E6E url(images/newsletterbg.gif) no-repeat;
	color: #FFF;
	margin: 0 0 3px 0;
}

.subheader {
	clear: both;
	margin: 3px 0 10px 0;
	padding: 8px;
	background: #f4f4f4;
	color: #808080;
	border-bottom: 1px solid #ccc;
}

/* left side
   --------- */

.left {
	float: left;
	width: 490px;
	margin: 0 0 10px 0;
}
	.left_articles {
		margin: 0 0 15px 0;
		padding: 0 0 0 10px;
	}

	.lt {
		height: 10px;
		background: #6E6E6E url(images/lt.gif) no-repeat;
		color: #FFF;
	}
	
	.lbox {
		color: #eee;
		padding: 3px 12px;
		margin: 0 0 15px 0;
		background: #6E6E6E url(images/lb.gif) no-repeat bottom left;
		height: 178px;
	}
	
	.lbox a {
		color: #FFFCD1;
		background: inherit;
	}
	
	.lbox h2 {
		color: #FFF;
		background: #6E6E6E;
	}
	
	
.thumb {
	float: left;
	width: 150px;
	border: 1px solid #d4d4d4;
	color: #fff;
	background: #6e6e6e;
	margin: 0 15px 15px 0;
	padding: 5px;
}

.thumb p { margin: 0; padding: 3px; color: #FFF; background: #6e6e6e; }
	
/* right side
   ---------- */
		
.right {
	float: right;
	width: 245px;
	margin: 0 0 10px 0;
}

.right a {
	color: #FFFCD1;
	background: inherit;
}

		
	.rt {
		background: #C85E35 url(images/rt.gif) no-repeat;
		color: #FFF;
		height: 7px;
	}
		
	.right_articles {
		font-size: 0.9em;
		background: #C85E35 url(images/rb.gif) no-repeat bottom;
		color: #FEE1D5;
		padding: 4px 8px;	
		margin: 0 0 10px 0;
	}
	
			
.image {
	float: left;
	margin: 0 9px 3px 0;
}

/* footer
   ------ */

.footer { 
	clear: both; 
	text-align: center;
	line-height: 1.8em;
	color: #808080;
	background: #FFF url(images/dot.gif) repeat-x;
	padding: 8px 0;
}

.footer a {
	color: #C3593C;
	background: inherit;
}

/* custom (to work for drupal)
   ------ */
.logo img {
    float: left;
}
.feed {
    text-align: right;
    width: 10px;
    float: right;
}
.left {
}
    .left .content {
        width: 466px;
    }
    
.right {
}
    .right a {
    	color: #4A8EBC; 
    }
    .right .right_articles a {
        color: #FFFCD1; 
    }
    .right .content {
        width: 229px;
    }
    .right .right_plain .content { 
        font-size: 0.9em;
        margin: 0pt 0pt 10px;
        padding: 4px 8px;
    }
    .right .right_plain a { 
    	color: #4A8EBC; 
    }
    .right .right_plain a:hover {
    	color: #C3593C;
    }
    .right .right_plain a.title {
    	color: #FE6700;
    }
    .right_articles h2 {
        color: #fff;
    }

/* customized from garland
   --------------------- */
table {
  margin: 1em 0;
  width: 100%;
  font: 80% Tahoma;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #898989;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}
